ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4484CE;
    position: fixed;
    top: 0;
    width: 100%;
    height: 36px;
    text-align: center;
    
}

li {
    display: inline-block;
    text-align: center;
    
}

li a {  
    color: white;
    display: inline-block;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
  
}

li a:hover:not(.active) {
    background-color: #393939;
}

body {
    margin: 0px;
 }

 .Rectangle1 {
     
    position: absolute;
    width: 100%;
    height: 72px;
    left: 0px;
    top: 36px;
    
    background: #393939;
 }

 .Rectangle2 {
    position: absolute;
    width: 50%;
    height: 36px;
    margin: auto;
    top: 53px;
    left: 25%;
    
    
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
 }

 .Rectangle2::after {
     contain: "";
 }

 .text1 {
     text-align: left;
     padding-left: 2%;
     padding-top: 10px;
     color: rgb(109, 109, 109);
 }



.searchbutton {
    position: absolute;
    width: 46px;
    height: 36px;
    margin: auto;
    top: 53px;
    left: 73%;
    background: #F19F4D;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 7px 7px 0px;
}

.searchbutton::after {
    content: "";
}

.svg1 {
    padding-left: 20%;
    padding-right: 20%;    
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    height: auto;
    
}
    
.img1 {
    position: absolute;
    width: 100%;
    height: 350px;
    left: 0px;
    top: 106px;
    
    background: url(img/background1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0px 4px 44px 19px rgba(0, 0, 0, 0.25);
}

h1 {
    margin: 0px;
    display: inline-block;
    position: absolute;    
    vertical-align: middle;
    top: 515px;
    left: 45%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 161.19%;
    /* identical to box height, or 39px */
    
    text-align: center;
    letter-spacing: 0.075em;
    
    color: #000000;
}

.grid-container1 {
    position: absolute;
    top: 599px;
    width: 100%;
    height: 540px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;    
    grid-gap: 20px;
    background-color: #ffffff;    
    padding: 36px;
    margin: 0px;    
    
    
    
  }
  
  .grid-container > div::after {
      contain: "";
            
  }

  .id1 {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;    
    padding: 20px 64px;
    font-size: 30px;
    border: solid;
    border-width: 1px;
    background: url(img/img1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  
    background-position-y: 56px;
  }

 h2 {
      
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 161.19%;
    /* or 18px */
    
    text-align: center;
    letter-spacing: 0.015em;
        
    color: #000000;
    
    
}



  .id2 {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;    
    padding: 20px 64px;
    font-size: 30px;
    border: solid;
    border-width: 1px;
    background: url(img/img2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  
    background-position-y: 56px;
  }

  .id3 {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;    
    padding: 20px 64px;
    font-size: 30px;
    border: solid;
    border-width: 1px;
    background: url(img/img3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  
    background-position-y: 56px;
  }

  .id4 {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;    
    padding: 20px 64px;
    font-size: 30px;
    border: solid;
    border-width: 1px;
    background: url(img/img4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  
    background-position-y: 56px;
  }

  .id5 {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;    
    padding: 20px 64px;
    font-size: 30px;
    border: solid;
    border-width: 1px;
    background: url(img/img5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;  
    background-position-y: 56px;
  }
  

  h3 {
    margin: 0px;
    display: inline-block;
    position: absolute;    
    vertical-align: middle;
    top: 1340px;
    left: 45%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 161.19%;
    /* identical to box height, or 39px */
    
    text-align: center;
    letter-spacing: 0.075em;
    
    color: #000000;
}


  .grid-container2 {
    position: absolute;
    top: 1460px;
    width: 100%;
    height: 540px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;    
    grid-gap: 20px;
    background-color: #ffffff;    
    padding: 36px;
    
  }
  
  .grid-container2 > div::after {
      contain: "";
  }

 h2 {
      
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 161.19%;
    /* or 18px */
    
    text-align: center;
    letter-spacing: 0.015em;
        
    color: #000000;
    
    
}



 
